<div class="col-xs-12">
    <h1>Todo List</h1>
    <div class="input-group my-3">
        <span class="input-group-btn">
            <button class="btn btn-default">
                Search
            </button>
        </span>
        <!-- TODO: Bind the input to our todo list -->
        <input type="text" class="form-control" placeholder="Search for...">
    </div>
    <!-- TODO: Repeat over our todo list items and setup filtering by search term. Easy peasy -->
    <table class="table my-3">
        <thead>
            <th>Done?</th>
            <th>Due</th>
            <th>Assigned to</th>
            <th>Description</th>
        </thead>
        <tr ng-repeat="item in items">
            <td>
                {{item.isCompleted ? 'true' : 'false'}}
            </td>
            <td class="text-muted">{{item.dueDate}}</td>
            <td>{{item.assignedTo}}</td>
            <td>
                <a ng-href="#!/items/details/{{item.id}}">{{item.task}}</a>
            </td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-danger">X</button>
            </td>
        </tr>
    </table>
</div>