<div class="col-xs-12">
    <h1>Todo List</h1>
    <div class="input-group my-3">
        <input type="text" ng-model="searchTasks" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default">
                Search
            </button>
        </span>
    </div>
    <table class="table my-3">
        <thead>
            <th>Done?</th>
            <th>Due</th>
            <th>Assigned to</th>
            <th>Description</th>
            <th>Delete</th>
        </thead>
        <tr ng-repeat="item in items|filter:{task:searchTasks}">
            <td>
                <input type="checkbox" ng-click="setItemCompletion(item[0], item[1].isCompleted)" ng-model="item[1].isCompleted">
            </td>
            <td class="text-muted">{{item[1].dueDate}}</td>
            <td>{{item[1].assignedTo}}</td>
            <td>
                <a ng-href="#!/items/details/{{item[0]}}">{{item[1].task}}</a>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteItem(item[0])">X</button>
            </td>
        </tr>
    </table>
</div>